<!-- OK 20120621 -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Itinelib - Contact</title>

  <!-- DEBUT STYLESHEETS -->
  <link href="../../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/css/custom.css" rel="stylesheet">
  <!-- FIN STYLESHEETS -->
  <!-- DEBUT JAVASCRIPT -->
  <script src="../../assets/js/jquery.js"></script>
  <script src="../../assets/js/bootstrap-dropdown.js"></script>
  <!-- FIN JAVASCRIPT -->
</head>
<body>

  <!-- DEBUT NAVBAR -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="home.html">
          <img alt="" src="../../assets/img/logo.png" id="logo">
        </a>

        <div class="pull-right">
          <ul class="nav">
            <li><a href="../auth/login.html">Se connecter</a></li>
            <li>
              <form method="link" action="../auth/subscribe.html">
                <button class="btn btn-warning" onclick="">S'abonner</button>
              </form>
            </li>
          </ul>
        </div>

        <ul class="nav">
          <li><a href="howitworks.html">Comment ça marche</a></li>
          <li><a href="offers.html">Offres &amp; Tarifs</a></li>
          <li><a href="map.html">Trouver une station</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Assistance <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="contact.html">Nous contacter</a></li>
              <li><a href="faq.html">Voir toutes les FAQ</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- FIN NAVBAR -->

  <!-- DEBUT PAGE-CANVAS  -->
  <div class="page-canvas">
    <!-- DEBUT CONTAINER  -->
    <div class="container">

      <h1>Nous contacter?</h1>

      <form action="" method="" class="form-horizontal">

        <div class="control-group">
          <label class="control-label" for="numAbonne">N° Abonné:</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="numAbonne">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="prenom">Prénom:</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="prenom">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="nom">Nom:</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="nom">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="email">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="telephone">Telephone:</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="telephone">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="message">Message:</label>
          <div class="controls">
            <textarea class="input-xlarge" id="message" rows="5"></textarea>
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-success" type="submit">Envoyer</button>
        </div>
      </form>			

    </div>
    <!-- FIN CONTAINER  -->
  </div>
  <!-- FIN PAGE-CANVAS  -->
</body>
</html>