<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Itinelib - Contact</title>

  <!-- DEBUT STYLESHEETS -->
  <link href="../../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/css/custom.css" rel="stylesheet">
  <!-- FIN STYLESHEETS -->
  <!-- DEBUT JAVASCRIPT -->
  <script src="../../assets/js/jquery.js"></script>
  <script src="../../assets/js/bootstrap-dropdown.js"></script>
  <!-- FIN JAVASCRIPT -->
</head>
<body>

  <!-- DEBUT NAVBAR -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="home.html">
          <img alt="" src="../../assets/img/logo.png" id="logo">
        </a>

        <div class="pull-right">
          <ul class="nav">
            <li><a href="../auth/login.html">Se connecter</a></li>
            <li>
              <form method="link" action="../auth/subscribe.html">
                <button class="btn btn-warning" onclick="">S'abonner</button>
              </form>
            </li>
          </ul>
        </div>

        <ul class="nav">
          <li><a href="howitworks.html">Comment ça marche</a></li>
          <li><a href="offers.html">Offres &amp; Tarifs</a></li>
          <li><a href="map.html">Trouver une station</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Assistance <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="contact.html">Nous contacter</a></li>
              <li><a href="faq.html">Voir toutes les FAQ</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- FIN NAVBAR -->

  <!-- DEBUT PAGE-CANVAS  -->
  <div class="page-canvas">
    <!-- DEBUT CONTAINER  -->
    <div class="container">

      <h1>Nos Partenaires</h1>

      <form action="" method="" class="form-horizontal">
     
          <div class="row">
              <div class="span4 spanOffset1">
              <a class="thumbnail" href="#">
                  <img alt="" src="../../assets/img/logovelib.jpeg">
              </a>
            </div>
            <div class="span7">
                <h3>Velib' ou le succès du vélo en libre-service!</h3>
                    <p>
                        Vélib’ est le système de vélos en libre-service de Paris disponible depuis le 15 juillet 2007.
                        Mis en place par la Mairie de Paris, il est géré par le groupe industriel JCDecaux.
                        Vélib' est déployé dans Paris et trente communes de la petite couronne avec environ 20 000 vélos répartis sur 1 208 stations dont 238 en proche banlieue.
                    </p>
                    <p>
                        Comptant environ 224 000 abonnées à l'année, mi-2012, Vélib' a été utilisé pour plus de 119 millions de trajets entre mi-juillet 2007 et fin octobre 2011.
                        En moyenne, environ 110 000 locations sont effectuées chaque jour.
                    </p>
            </div>
        </div>
        <br>
        <br>             
        <div class="row">
            <div class="span4 spanOffset1">
                 <a class="thumbnail" href="#">
                      <img alt="" src="../../assets/img/logoautolib.jpeg">
                 </a>     
            </div>
            <div class="span7">
                <h3>Autolib' : Un système d'autopartage innovant!</h3>
                    <p>
                        Mis en service le 5 décembre 2011 et géré par le groupe industriel Bolloré,
                        Autolib' est le premier service public d'automobiles électriques en libre service
                        développé à l'échelle d'une grande métropole européenne.
                        Les Bluecars, voitures 100% électriques, sont disponibles à Paris et dans 45 communes d'île de France.
                    </p>
                    <p>
                        Le système est voué à se développer et à s'etoffer rapidement et compte actuellement 1740 véhicules répartis dans 500 stations.                       
                    </p>
            </div>
        </div>
       
     
       
      </form>           

    </div>
    <!-- FIN CONTAINER  -->
  </div>
  <!-- FIN PAGE-CANVAS  -->
</body>
</html>