<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Itinélib - Liste Abonnés</title>

<!-- DEBUT STYLESHEETS -->
<link href="../../../assets/css/bootstrap.css" rel="stylesheet">
<link href="../../../assets/css/custom.css" rel="stylesheet">
<link href="../../../assets/css/datepicker.css" rel="stylesheet">
<!-- FIN STYLESHEETS -->
</head>
<body>

	<!-- DEBUT ADMIN NAVBAR -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a href="../abonnes/index.html">
					<img alt="" src="../../../assets/img/logo.png" id="logo">
				</a>
				
				<ul class="nav">
					<li><h2>Administration</h2></li>
					<li><a href="../abonnes/index.html">Abonnés</a></li>
					<li><a href="../locations/index.html">Points location</a></li>
					<li><a href="../vehicules/index.html">Véhicules</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- FIN ADMIN NAVBAR -->

	<!-- DEBUT CONTAINER  -->
	<div class="container-fluid">
	
		<table class="row-fluid">
			<td><h1>Nom Abonné numéro : </h1></td>
			<td><a class="btn btn-primary btn-large" style="float: right;" href="./index.html">Retour</a></td>
		</table>
			
		<div class="row-fluid">

			<!-- DEBUT SHOW ABONNE -->
			<div class="span9">
				<div class ="well">
					<h3> Informations Client</h3>
					<table class="table">
						<tbody>
							<tr>
								<th>Civilitée : </th>
								<td></td>
							</tr>
							<tr>
								<th>Nom : </th>
								<td></td>
							</tr>
							<tr>
								<th>Prénom : </th>
								<td></td>
							</tr>
							<tr>
								<th>Date de naissance : </th>
								<td></td>
							</tr>
							<tr>
								<th>Code Postal : </th>
								<td></td>
							</tr>
							<tr>
								<th>Téléphone : </th>
								<td></td>
							</tr>
							<tr>
								<th>Email : </th>
								<td></td>
							</tr>
							<tr>
								<th>Mot de passe : </th>
								<td></td>
							</tr>
							
						</tbody>
					</table>
				</div>
				
				<div class="well">
					<h3> Informations bancaires</h3>
					<table class="table">
						<tbody>
							<tr>
								<th>Titulaire du compte : </th>
								<td></td>
							</tr>
							<tr>
								<th>Code banque : </th>
								<td></td>
							</tr>
							<tr>
								<th>Code agence : </th>
								<td></td>
							</tr>
							<tr>
								<th>Numéro de compte : </th>
								<td></td>
							</tr>
							<tr>
								<th>Clé RIB : </th>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="well">
					<h3> Informations Abonnement</h3>
					<table class="table">
						<tbody>
							<tr>
								<th>Abonnement en cours  : </th>
								<td></td>
							</tr>
							<tr>
								<th>Consommation voiture : </th>
								<td></td>
							</tr>
							<tr>
								<th>Consommation vélo : </th>
								<td></td>
							</tr>
							<tr>
								<th>Total Facture  : </th>
								<td></td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
			<!-- FIN SHOW ABONNE -->
		</div>
	</div>
	<!-- FIN CONTAINER  -->

	<!-- DEBUT FOOTER -->
	<!-- TODO: ADD THE FOOTER PARTIAL HERE -->
	<!-- FIN FOOTER -->
	
</body>
</html>